/*
 * Media queries
 */
/*
 * Fonts
 */
/*
 * Colors
 */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
body {
  padding: 0;
  margin: 0;
  touch-action: manipulation;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 1em;
  line-height: 1.4;
}
h1 {
  font-size: 26px;
  color: #000;
}

#container {
  max-width:1200px;
  margin:0 auto;
}

.lead{
  font-size: 1.25em;
}


a,
a:visited {
  color: #4774CC;
}
a:hover,
a:active,
a:focus {
  color: #bccae5;
}
img:not([alt]) {
  outline: 3px solid red;
}
